<h1>Your search resulted in <strong><%= @gigs.count %></strong> gigs.</h1>
<div class="banner_1">
	<div class="container">
		<div id="search_wrapper1">
		   <div id="search_form" class="clearfix">
		    <h1>Start your job search</h1>
				<%= form_tag	search_gigs_path, method: :get do |f| %>
					<%= text_field_tag :search, nil, placeholder: "Search...", class: "col-md-9" %>
					<%= submit_tag "Search", class:"col-md-3 btn btn-primary" %>
				<% end %>

           </div>
		</div>
   </div>
</div>

<%= render 'layouts/gig_listings' %>
